---
layout: single
title: Projects
permalink: /projects/
author_profile: true
---

{% for project in site.projects %}
  <div class="project-entry" style="border: none;">
    <a href="{{ project.url | relative_url }}">
      <h2>{{ project.title }}</h2>
    </a>
     {% assign words = project.content | number_of_words %}
    {% assign read_time = words | divided_by: 200 %}
    <p><small>~{{ read_time }} min read</small></p>
    {% if project.subtitle %}
      <p>{{ project.subtitle }}</p>
    {% endif %}
    <p>{{ project.excerpt | strip_html | truncatewords: 20 }}</p>
    {% if project.date %}
      <p><small>Date: {{ project.date | date: "%B %-d, %Y" }}</small></p>
    {% endif %}
  </div>
{% endfor %}
