---
layout: single
title: Projects
permalink: /projects/
author_profile: true
---

{% for project in site.projects reversed %}
  <div class="project-entry" style="border: none;">
    <a href="{{ project.url | relative_url }}">
      <h2>{{ project.title }}</h2>
    </a>
     {% assign words = project.content | number_of_words %}
    {% assign read_time = words | divided_by: 200 %}
    <p><small>
      <span style="color: grey;">
      <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="clock" class="svg-inline--fa fa-clock fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" style="height: 1em; vertical-align: -0.125em; margin-right: 0.25em;">
        <path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 448c-110.5 0-200-89.5-200-200S145.5 56 256 56s200 89.5 200 200-89.5 200-200 200zm61.8-104.4l-84.9-61.7c-3.1-2.3-4.9-5.9-4.9-9.7V116c0-6.6 5.4-12 12-12h32c6.6 0 12 5.4 12 12v141.7l77.9 56.6c5.5 4 6.9 11.7 3.9 17.6l-26.4 45.1c-3 5.9-10.7 7.1-16.2 3.1z"></path>
      </svg>
      </span>
      {% if read_time < 1 %}
        <span style="color: grey;">less than a minute read</span>
      {% else %}
        <span style="color: grey;"> {{ read_time }} min read </span>
      {% endif %}
    </small></p>
    {% if project.subtitle %}
      <p style="font-size: 0.9em; font-weight: 300;">{{ project.subtitle }}</p>
    {% endif %}
    <p>{{ project.excerpt | strip_html | truncatewords: 20 }}</p>
    {% if project.date %}
      <p><small> <span style="color: grey;">Date: {{ project.date | date: "%B %-d, %Y" }} </span></small></p>
    {% endif %}
  </div>
{% endfor %}
