---
layout: single
title: Projects
permalink: /projects/
author_profile: true
read_time: true
---

<h1>Projects</h1>

{% for project in site.projects %}
  <div class="project-entry">
    <a href="{{ project.url | relative_url }}">
      <h2>{{ project.title }}</h2>
    </a>
    {% if project.subtitle %}
      <p>{{ project.subtitle }}</p>
    {% endif %}
    <p>{{ project.excerpt | strip_html | truncatewords: 20 }}</p>
    {% if project.date %}
      <p><small>Date: {{ project.date | date: "%B %-d, %Y" }}</small></p>
    {% endif %}
  </div>
{% endfor %}
